## Welcome to another class of Python!

### today we will continue learning Python by learning how to make a function, what a module is and what lists and tuples are

### At the end of last week's lecture you might remember we saw some functions. Let's delve more into them here

### Functions are a collection of statements that 
- take some input from the code
- do something/ perform a computation
- might return some output to the main code. 

### When do I make a function? 

- Do you need to do this calculation more than once in the future? 

### To call them you need to use: my_function_name()

In [ ]:
print( " Hello World! " )  #---> you call the function print() and it is 
                           #---> tasked to print the text between the quotes

In [ ]:
# some other build-in function you may see:

int( 3.1 )      # ----> get the 3.1 and give me the integer

## Python has many modules. Modules are collections of functions. To call them you need to import them:

    import module_name
### or better:
    import module_name as module_shortname
    
### You could also use:
    from module_name import *

### some examples we saw already: os, numpy, matplotlib ; you also can import math, scipy, pandas modules and many more

## How you call a function from the module changes depending on how you import the module:

### 1. When you use 
    import module_name
### you need to call a function as:
    module_name.function_name()

### For example:

In [1]:
# ---> Note that int() is not a rounding function; for that you have the floor() and ceil() in math:

import math

In [2]:
math.floor( 4.7 ) , math.ceil( 4.7 )

(4, 5)

### 2. For most modules it is common practice to import them following this example:

In [8]:
import numpy as np  #--> this tells Python to import the module numpy under the name np 
                    #    this simplifies your coding as instead of writing numpy.blabla() 
                    #    you just need to write np.blabla()
                    #--> may not look as much gain with numpy but think of: import matplotlib.pyplot as plt

### Note that here we do the: 
    import module_name as module_shortname

### Then we call a function as:
    module_shortname.function_name()

In [10]:
np.floor( 3.2 )

3.0

### 3. If you want to avoid using the math.* ,np.* etc you may also chose to change the import command to:
    from module_name import *
    
### Then you call a function as:
    function_name()

In [11]:
from math import *   # --> this goes into math and imports all functions with their name  
                     # --> ( so you don't need a math.* )

In [20]:
print ( floor( 4.7 ) , ceil ( 4.7 ) )

4 5

### this however, is not a good practice generally, as more than one packages may share the same name of a function; you want to separate them and know what package you call (e.g., np.pi or math.pi....)

In [15]:
print( np.pi, pi)

3.141592653589793 3.141592653589793

In [ ]:
## here it doesn't matter right?

### But, here is an example of how the same function name can give different output:

In [16]:

from scipy import log10

In [17]:
print( np.log10( 10 ), log10( 10 ) )

1.0 1.0

C:\Users\logan\AppData\Local\Temp\ipykernel_12824\3023082348.py:1: DeprecationWarning: scipy.log10 is deprecated and will be removed in SciPy 2.0.0, use numpy.lib.scimath.log10 instead
  print( np.log10( 10 ), log10( 10 ) )

In [18]:
print( np.log10( -10 ), log10( -10 ) )

nan (1+1.3643763538418412j)

C:\Users\logan\AppData\Local\Temp\ipykernel_12824\3149963231.py:1: RuntimeWarning: invalid value encountered in log10
  print( np.log10( -10 ), log10( -10 ) )
C:\Users\logan\AppData\Local\Temp\ipykernel_12824\3149963231.py:1: DeprecationWarning: scipy.log10 is deprecated and will be removed in SciPy 2.0.0, use numpy.lib.scimath.log10 instead
  print( np.log10( -10 ), log10( -10 ) )

### Now that you imported numpy use functions: array() to make a numpy array called test1 with the numbers [ 1, 2, 5, 3]. Call function max() and min() to calculate the max and min of the array

In [23]:
test1 = np.array( [1, 2, 5, 3])

In [24]:
# test what test1 is:
type( test1 )

numpy.ndarray

In [26]:
# get max:
print( np.max( test1) )

5

In [27]:
# get min:
print( np.min (test1) )

1

In [ ]:
# what is the mean?

In [ ]:
           
    
    # remember that best practice is to test what you did makes sense .... 
    # (1 + 2 + 5 + 3) = 11  then / 4  = 2.75 -- correct!

### Sometimes you may come across a repetitive task that you can use in more than one projects. You can define your own functions for snippets of code that you will use more often.

### To make your own function you need the following structure:

In [28]:
def function_name( function_variables ) :   # don't try to run this it will crash as it is meaningless as is...
    """This is where my very useful notes go about input/output and what function does"""
    this is where all my commands go 
    
    return whatever_values

SyntaxError: invalid syntax (1170562553.py, line 3)

### e.g., let's make a function distance_car that calculates the distance traveled by a car moving with speed u [m /s ] for time t [ s ]

- Discuss: what should the input of the function be?
- what should the output be?
- what should a good docstring include?

In [31]:
def distance_car( u, t ):
    """ Function that calculates the distance traveled by car moving at speed u over time t.
    Follows s = u * t, assuming constant speed
    Input: speed [ m/s], time [s]
    Output: distance [ m ] """
    
    s = u * t
    
    print( "your car moved", s, " m. " )
    
    return s

###  now let's call our function for u = 200 m / s and t = 10 s and print the result

In [32]:
speed = 200
time = 10

In [33]:
 distance = distance_car( speed, time )

### Why is a good and informative docstring important? Imagine calling the docstring from above and just getting a ""Function that calculates the distance [m] traveled by object moving with speed u[ m/s] over time t[s]"". What could go wrong? 

### (Note that in this example it won't go wrong because of the nature of the equation, but imagine what happens with s = u * t + $\frac{1}{2}$ * a * t $^2$ )

In [ ]:
help( distance_car )

In [ ]:
print(distance_car.__doc__)

### While writing a function, think if you may use it in the future. If so, write it on a separate .py file. You can import it in whichever code you are working in the future like you do with numpy or pyplot. E.g.,: my distance_from_file.py ...

### Let's copy the function we made above into a file named distance_from_file.py. Rename the function as "distance_from_file_2" so that there is no confusion with the distance_from_file()

### Let's import distance2 and call the docstring to figure out what distance 2 does:

In [1]:
from distance_from_file import distance_from_car
print( distance_from_car.__doc__ )  ## note the doc has a double _ before and after

 Function that calculates the distance traveled by car moving at speed u over time t.
    Follows s = u * t, assuming constant speed
    Input: speed [ m/s], time [s]
    Output: distance [ m ]

In [2]:
# or you can also use:
help( distance_from_car )

Help on function distance_from_car in module distance_from_file:

distance_from_car(u, t)
    Function that calculates the distance traveled by car moving at speed u over time t.
    Follows s = u * t, assuming constant speed
    Input: speed [ m/s], time [s]
    Output: distance [ m ]

### Note that variables inside functions  are independent of variables outside them. We can call distance2( time , speed ) even though we defined it as distance2( t , u ) in the function itself:

In [ ]:
time  =  10.
speed =  100.

In [ ]:
distance_from_file2( time, speed )

In [ ]:
distance_from_file2( 10, 100)

### what if there are more than one function you want to import from a file?

In [ ]:
#from distance_from_file import distance_from_file2, my_tshirt_forecast

# or if you want all: from distance_from file import *

In [ ]:
#help( my_tshirt_forecast )

In [ ]:
#print( my_tshirt_forecast( 80 , 10 ), 'you can/ cannot wear a tshirt')

In [ ]:
#print( my_tshirt_forecast( 40 , 0 ), 'you can/ cannot wear a tshirt')

### Exercise time! 

### Let's practice making a function of our own. 


### A) Stars are far away from us. So far away that it is hard to describe using normal distance units. The units to describe distances are light years (ly) or parsecs (pc). Knowing that 1pc = 19,174,000,000,000 miles make a function pc_to_mi that takes as input the name of the star and its distance from us in pc and prints an informative statement of how far the star is in miles. Run it for Betlegeuse ($\sim$168 pc) and Arcturus ($\sim$11pc).

- Discuss: what should the function's input be?
- what should its output be?
- code it!

In [4]:
def pc_to_mi( name, dist ):
    """Very informative docstring here"""
    

    dist_in_miles = dist * 1.9174e13
    
    print( "Star ", name, " is ", dist_in_miles, " miles away.")

In [5]:
pc_to_mi( "Betelgeuse", 168)

Star  Betelgeuse  is  3221232000000000.0  miles away.

In [6]:
pc_to_mi( "arcturus", 11)

Star  arcturus  is  210914000000000.0  miles away.

### B) A European visitor to USA is always confused about how much they will pay at the register when buying a  product. Taxes are included in the sticker price in Europe, but in the US they are added at the time of payment. You work for a shop that has lots of European visitors and want to help your clients out. Make a function total_cost that takes as input the price of an item and the tax percentage you need to pay for it and returns an informative statement of the total price (including taxes) of the item.  Call the function for an icecream worth $\$6.49$ with a 6\% tax rate, and a box of cookies worth $\$14.5$ with a 4\% tax rate.

- Discuss: what should the function's input be?
- what should its output be?
- what info does a good docstring need to have?
- code it!

### C) Make a function times_two that takes a number input_number and returns out_number, which is equal to input_number times two. In the main code make a variable in_num equal to 5. Call the function times_two with input the in_num and store it in variable outn. Print the value of out_number and outn.

- Discuss: what should the function's input be?
- what should its output be?
- code it!

In [68]:
def times_two(numb):
    """Informtive...."""
    
    
    return numb*2

In [69]:
outn = times_two(5)

10

In [70]:
print(outn)

NameError: name 'outn' is not defined

# Interlude: Slicing in Python

### As we mentioned last week, sometimes we have a lot of data and we only want to use a small part of them. We can then use slicing to get a part of our list/tuple/numpy array/ pandas dataframe etc....

### To slice something we need to use brackets  [   ] and we need to know the dimensions of our data. In the simple 1D case we use

    my_data[ start_index: end_but_not_include_index : with_step_of ]

### For example:

In [9]:
test_slicing = np.arange( 10 )

#check your array:
print( test_slicing )

[0 1 2 3 4 5 6 7 8 9]

### Now let's get the elements 1, 2, 3 and 4

### NOTE: python (like more languages) starts counting arrays at 0 ( so first element of array x is x[ 0 ] ) !

In [10]:
#print the slice:

print( test_slicing[ 1:5 ] )

[1 2 3 4]

In [11]:
print( test_slicing[ 1: 5 : 2] )

[1 3]

### you can also 'slice' a single element out of your data. Print the 8 from the array:

In [12]:
print( test_slicing[ 8 ] )

8

# Lists and tuple in Python:

### A list is one kind of function. A list is a linear collection of objects, including other lists (nested lists). Let's create our first empty list:

In [13]:
my_first_list = []

In [14]:
#### Double-check what it is:
type( my_first_list )

list

In [15]:
#Let’s start populating your list
my_first_list [ 0 : 5  ] = [ 0, 1,  3, 2, 4]
my_first_list [ 5 : 10 ] = [ 8, 13, 21, 34, 55]   # remember why does this work and 8 doesn't overwrite 4?

In [16]:
#Check what you did: 
print(my_first_list)

[0, 1, 3, 2, 4, 8, 13, 21, 34, 55]

In [17]:
print( my_first_list[ 2 ] )

3

In [18]:
#Print the 5th element:

my_first_list[ 4 ]

4

### Now try to append the number 89 to the end of your list and print the list:

In [19]:
my_first_list.append( 89 )

In [20]:
print ( my_first_list )

[0, 1, 3, 2, 4, 8, 13, 21, 34, 55, 89]

### sort the list in reverse order:

In [21]:
my_first_list.sort( reverse=True )

In [22]:
#check what you did:
print(my_first_list )

[89, 55, 34, 21, 13, 8, 4, 3, 2, 1, 0]

#### and print its 6th element:

In [23]:
print (my_first_list[5])

8

### But you just realized you made an error and the original my_first_list[2] should be 1 not 3! Let’s fix it:

In [24]:
# short the list back to normal:
my_first_list.sort()

In [25]:
print( my_first_list )

[0, 1, 2, 3, 4, 8, 13, 21, 34, 55, 89]

In [26]:
# then change the 3rd element:
my_first_list[3] = 1

In [28]:
# let's see what we did:
print (my_first_list)

[0, 1, 2, 1, 4, 8, 13, 21, 34, 55, 89]

### It worked!

In [29]:
# what happens if you want to add more elements to the end of the list?

In [30]:
#try:

my_first_list.append( [5, 6, 7] )

In [31]:
#print it:
print( my_first_list ) # ---> adds a single element to the end (so here we add a whole list as 1 element)

[0, 1, 2, 1, 4, 8, 13, 21, 34, 55, 89, [5, 6, 7]]

In [32]:
#how can we just add elements in the list?
#let's make a new list:
my_first_list = []
my_first_list = list( range( 1, 10, 2 ) )

print( my_first_list )

[1, 3, 5, 7, 9]

In [33]:
my_first_list.extend( [5, 6, 7] )

In [34]:
my_first_list  # ---> extends the list with the elements you want one at a time (so no list in list)

[1, 3, 5, 7, 9, 5, 6, 7]

## Lists are mutable !!!

### this is something you should be aware of, as sometimes it can lead to surprises:

In [35]:
test_list  = [ 1, 2, 3, 4 ]    # make a list
test_list2 = test_list         # make another list that is a copy of the previous one

In [36]:
# now go ahead and print the two:
print( test_list, test_list2 )

[1, 2, 3, 4] [1, 2, 3, 4]

In [37]:
# append number 5 to test_list:
test_list.append( 5 )

In [38]:
# print both lists again:
print( test_list, test_list2 )

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [39]:
#!!!!!!!! what happened?
# test_list2 = test_list makes test_list2 be a copy of the reference of test_list not its actual object 
# for that you could use:
import copy 
test_list3 = copy.copy( test_list )

In [40]:
print( test_list3)

[1, 2, 3, 4, 5]

In [41]:
test_list.remove(4)   # remove the "4" from the list

In [42]:
# print the lists again: 
print( test_list, test_list2, test_list3 )

[1, 2, 3, 5] [1, 2, 3, 5] [1, 2, 3, 4, 5]

In [ ]:
# the list and list_2 changed! list_3 staid in its original form!!

### Practice some slicing. Print the third and fourth element of your test_list3 in one go:

### Now let's create your first tuple:

In [43]:
# start by making another list:
my_second_list = [ 1, 2, 3, 4 ]

# then make your tuple:
my_first_tuple = ( 1, 2, 3, 4 )

In [44]:
#what is their type?

type( my_second_list ), type( my_first_tuple )

(list, tuple)

In [45]:
# try creating a single element list and a single element tuple equal to 1 :
single_element_list  = [ 1 ]

In [46]:
print( single_element_list )

[1]

In [47]:
single_element_tuple = ( 1 )

In [48]:
print( single_element_tuple )

1

In [49]:
print( type( single_element_list ) , type( single_element_tuple ) ) # !!!!

<class 'list'> <class 'int'>

In [50]:
# if you write blabla = ( 1 ) python will ignore the () and just equate blabla to 1:
single_element_tuple

1

In [51]:
# let's try again to make a single element tuple :
single_element_tuple = ( 1, )

In [52]:
print( single_element_tuple )

(1,)

In [53]:
print( type( single_element_list ) , type( single_element_tuple ) ) #

<class 'list'> <class 'tuple'>

In [ ]:
single_element_tuple   # it worked!

In [ ]:
my_first_tuple

In [54]:
# slice your first tuple:
my_first_tuple[ 0 : 2 ]

(1, 2)

In [55]:
my_first_tuple[  : 3 ]

(1, 2, 3)

In [56]:
my_first_tuple[  2 :  ]

(3, 4)

In [57]:
my_first_tuple[ 1 : : 2 ]

(2, 4)

In [58]:
print( id( my_first_tuple ) )

2827244005072

In [59]:
print( id( my_second_list ) )

2827243973504

In [60]:
# remember that list are mutable? Change the 3rd element to 6:
my_second_list[ 2 ] = 6

In [61]:
print (my_second_list)

[1, 2, 6, 4]

In [62]:
print( id( my_second_list ) )

2827243973504

In [63]:
# now try the same with the tuple. Change its first element to 6 :

my_first_tuple[ 0 ] = 6

TypeError: 'tuple' object does not support item assignment

In [64]:
# what just happened? Did I call it wrong?
my_first_tuple[ 0 ]

1

In [65]:
# no! Tuples are immutable- you cannot change one of their elements like with lists
# what you can do is :

my_first_tuple = ( 6, ) + my_first_tuple[ 1 : ]

In [66]:
print (my_first_tuple)

(6, 2, 3, 4)

In [67]:
print( id( my_first_tuple ) )
#before: 2827244005072

2827244163216

### This means though, that you really create a completely new tuple! Tuples are best used for combining records/data that belong together. They are dictionaries (see later course) but without keys…

### Exercise time!


### A) Make a list numbers that has all even numbers from 0 up to and including 10. 
### B) Use slicing to print the numbers 4 and the 6 from the list
### C) Print the 3rd element multiplied by 10
### D) Change element 3 to be equal to 42; print the list numbers

In [72]:
numbers = [ 0, 2 , 4 , 6 , 8 , 10 ]

In [73]:
print( numbers[ 2 ], numbers[ 3 ] )

4 6

In [74]:
print( numbers [ 2 : 4] )

[4, 6]

In [75]:
print( numbers[ 2 ] * 10)

40

In [76]:
numbers[3] = 42
print(numbers)

[0, 2, 4, 42, 8, 10]

###  A) Make a tuple evens that contains the odd numbers between 0 and 12. 
###  B) Print the third element of evens multiplied by 3.
###  C) Change  the '7' and make it a -7

In [77]:
evens = (1 , 3 , 5 , 7 , 9 , 11)

In [78]:
print( evens[2] *3)

15

In [79]:
evens[3] = -7

TypeError: 'tuple' object does not support item assignment