# Numpy, lists and tuples practicum

### Start by importing numpy:

In [2]:
import numpy as np

### First create an array x from 100 to 1,000 with a step of 2:

In [3]:
x = np.arange (100,1000,2)

### then create an array y from 1,000 to 2,800 with a step of 4:

In [4]:
y = np.arange(1000,2800,4)

### check the shape of x and y:

In [5]:
print( x.shape )
print( y.shape )

(450,)
(450,)

### get the length of x:

In [6]:
print(len (x))

450

### Create array z equal to the difference of y minus x

In [7]:
z = y-x

### print it:

In [8]:
print(z)

[ 900  902  904  906  908  910  912  914  916  918  920  922  924  926
  928  930  932  934  936  938  940  942  944  946  948  950  952  954
  956  958  960  962  964  966  968  970  972  974  976  978  980  982
  984  986  988  990  992  994  996  998 1000 1002 1004 1006 1008 1010
 1012 1014 1016 1018 1020 1022 1024 1026 1028 1030 1032 1034 1036 1038
 1040 1042 1044 1046 1048 1050 1052 1054 1056 1058 1060 1062 1064 1066
 1068 1070 1072 1074 1076 1078 1080 1082 1084 1086 1088 1090 1092 1094
 1096 1098 1100 1102 1104 1106 1108 1110 1112 1114 1116 1118 1120 1122
 1124 1126 1128 1130 1132 1134 1136 1138 1140 1142 1144 1146 1148 1150
 1152 1154 1156 1158 1160 1162 1164 1166 1168 1170 1172 1174 1176 1178
 1180 1182 1184 1186 1188 1190 1192 1194 1196 1198 1200 1202 1204 1206
 1208 1210 1212 1214 1216 1218 1220 1222 1224 1226 1228 1230 1232 1234
 1236 1238 1240 1242 1244 1246 1248 1250 1252 1254 1256 1258 1260 1262
 1264 1266 1268 1270 1272 1274 1276 1278 1280 1282 1284 1286 1288 1290
 1292 1294 1296 1298 1300 1302 1304 1306 1308 1310 1312 1314 1316 1318
 1320 1322 1324 1326 1328 1330 1332 1334 1336 1338 1340 1342 1344 1346
 1348 1350 1352 1354 1356 1358 1360 1362 1364 1366 1368 1370 1372 1374
 1376 1378 1380 1382 1384 1386 1388 1390 1392 1394 1396 1398 1400 1402
 1404 1406 1408 1410 1412 1414 1416 1418 1420 1422 1424 1426 1428 1430
 1432 1434 1436 1438 1440 1442 1444 1446 1448 1450 1452 1454 1456 1458
 1460 1462 1464 1466 1468 1470 1472 1474 1476 1478 1480 1482 1484 1486
 1488 1490 1492 1494 1496 1498 1500 1502 1504 1506 1508 1510 1512 1514
 1516 1518 1520 1522 1524 1526 1528 1530 1532 1534 1536 1538 1540 1542
 1544 1546 1548 1550 1552 1554 1556 1558 1560 1562 1564 1566 1568 1570
 1572 1574 1576 1578 1580 1582 1584 1586 1588 1590 1592 1594 1596 1598
 1600 1602 1604 1606 1608 1610 1612 1614 1616 1618 1620 1622 1624 1626
 1628 1630 1632 1634 1636 1638 1640 1642 1644 1646 1648 1650 1652 1654
 1656 1658 1660 1662 1664 1666 1668 1670 1672 1674 1676 1678 1680 1682
 1684 1686 1688 1690 1692 1694 1696 1698 1700 1702 1704 1706 1708 1710
 1712 1714 1716 1718 1720 1722 1724 1726 1728 1730 1732 1734 1736 1738
 1740 1742 1744 1746 1748 1750 1752 1754 1756 1758 1760 1762 1764 1766
 1768 1770 1772 1774 1776 1778 1780 1782 1784 1786 1788 1790 1792 1794
 1796 1798]

### multiply x by 2, subtract 100 from y and add all this togeter ( (x*2) + (y-100)); assign to variable test1

In [9]:
test1 = (x*2) + (y-100)

### calculate and print the min of test1, its max and its mean:

In [10]:
print (np.min(test1), np.max(test1), np.mean (test1))

1100 4692 2896.0

### print the mean of the base 10 logarithm of x

In [11]:
print (np.mean (np.log10(x)))

2.675704070469898

### 1. Create a numpy array x that goes from 1 up to and including 100 (last element must be 100.0) with a step of 0.1. 
- Verify its type using the type command and its size using the .shape command.  
- Print x. 
- Print its maximum, minimum and mean. 
- Add 5 to x and print it. 
- Print an array whose values are 10 times larger than x.

In [14]:
accel = np.array( [ 10, 13, 5, 22, -4, 8, -12 ] )

In [15]:
print(accel)

[ 10  13   5  22  -4   8 -12]

In [22]:
print(accel[1])

[ 20  26  10  44  -8  16 -24]

In [17]:
print (np.max(x), np.min(x), np.mean(x))

100.00000000000009 1.0 50.500000000000036

In [18]:
# print (x + 5)

In [19]:
print (x * 10)

[  10.   11.   12.   13.   14.   15.   16.   17.   18.   19.   20.   21.
   22.   23.   24.   25.   26.   27.   28.   29.   30.   31.   32.   33.
   34.   35.   36.   37.   38.   39.   40.   41.   42.   43.   44.   45.
   46.   47.   48.   49.   50.   51.   52.   53.   54.   55.   56.   57.
   58.   59.   60.   61.   62.   63.   64.   65.   66.   67.   68.   69.
   70.   71.   72.   73.   74.   75.   76.   77.   78.   79.   80.   81.
   82.   83.   84.   85.   86.   87.   88.   89.   90.   91.   92.   93.
   94.   95.   96.   97.   98.   99.  100.  101.  102.  103.  104.  105.
  106.  107.  108.  109.  110.  111.  112.  113.  114.  115.  116.  117.
  118.  119.  120.  121.  122.  123.  124.  125.  126.  127.  128.  129.
  130.  131.  132.  133.  134.  135.  136.  137.  138.  139.  140.  141.
  142.  143.  144.  145.  146.  147.  148.  149.  150.  151.  152.  153.
  154.  155.  156.  157.  158.  159.  160.  161.  162.  163.  164.  165.
  166.  167.  168.  169.  170.  171.  172.  173.  174.  175.  176.  177.
  178.  179.  180.  181.  182.  183.  184.  185.  186.  187.  188.  189.
  190.  191.  192.  193.  194.  195.  196.  197.  198.  199.  200.  201.
  202.  203.  204.  205.  206.  207.  208.  209.  210.  211.  212.  213.
  214.  215.  216.  217.  218.  219.  220.  221.  222.  223.  224.  225.
  226.  227.  228.  229.  230.  231.  232.  233.  234.  235.  236.  237.
  238.  239.  240.  241.  242.  243.  244.  245.  246.  247.  248.  249.
  250.  251.  252.  253.  254.  255.  256.  257.  258.  259.  260.  261.
  262.  263.  264.  265.  266.  267.  268.  269.  270.  271.  272.  273.
  274.  275.  276.  277.  278.  279.  280.  281.  282.  283.  284.  285.
  286.  287.  288.  289.  290.  291.  292.  293.  294.  295.  296.  297.
  298.  299.  300.  301.  302.  303.  304.  305.  306.  307.  308.  309.
  310.  311.  312.  313.  314.  315.  316.  317.  318.  319.  320.  321.
  322.  323.  324.  325.  326.  327.  328.  329.  330.  331.  332.  333.
  334.  335.  336.  337.  338.  339.  340.  341.  342.  343.  344.  345.
  346.  347.  348.  349.  350.  351.  352.  353.  354.  355.  356.  357.
  358.  359.  360.  361.  362.  363.  364.  365.  366.  367.  368.  369.
  370.  371.  372.  373.  374.  375.  376.  377.  378.  379.  380.  381.
  382.  383.  384.  385.  386.  387.  388.  389.  390.  391.  392.  393.
  394.  395.  396.  397.  398.  399.  400.  401.  402.  403.  404.  405.
  406.  407.  408.  409.  410.  411.  412.  413.  414.  415.  416.  417.
  418.  419.  420.  421.  422.  423.  424.  425.  426.  427.  428.  429.
  430.  431.  432.  433.  434.  435.  436.  437.  438.  439.  440.  441.
  442.  443.  444.  445.  446.  447.  448.  449.  450.  451.  452.  453.
  454.  455.  456.  457.  458.  459.  460.  461.  462.  463.  464.  465.
  466.  467.  468.  469.  470.  471.  472.  473.  474.  475.  476.  477.
  478.  479.  480.  481.  482.  483.  484.  485.  486.  487.  488.  489.
  490.  491.  492.  493.  494.  495.  496.  497.  498.  499.  500.  501.
  502.  503.  504.  505.  506.  507.  508.  509.  510.  511.  512.  513.
  514.  515.  516.  517.  518.  519.  520.  521.  522.  523.  524.  525.
  526.  527.  528.  529.  530.  531.  532.  533.  534.  535.  536.  537.
  538.  539.  540.  541.  542.  543.  544.  545.  546.  547.  548.  549.
  550.  551.  552.  553.  554.  555.  556.  557.  558.  559.  560.  561.
  562.  563.  564.  565.  566.  567.  568.  569.  570.  571.  572.  573.
  574.  575.  576.  577.  578.  579.  580.  581.  582.  583.  584.  585.
  586.  587.  588.  589.  590.  591.  592.  593.  594.  595.  596.  597.
  598.  599.  600.  601.  602.  603.  604.  605.  606.  607.  608.  609.
  610.  611.  612.  613.  614.  615.  616.  617.  618.  619.  620.  621.
  622.  623.  624.  625.  626.  627.  628.  629.  630.  631.  632.  633.
  634.  635.  636.  637.  638.  639.  640.  641.  642.  643.  644.  645.
  646.  647.  648.  649.  650.  651.  652.  653.  654.  655.  656.  657.
  658.  659.  660.  661.  662.  663.  664.  665.  666.  667.  668.  669.
  670.  671.  672.  673.  674.  675.  676.  677.  678.  679.  680.  681.
  682.  683.  684.  685.  686.  687.  688.  689.  690.  691.  692.  693.
  694.  695.  696.  697.  698.  699.  700.  701.  702.  703.  704.  705.
  706.  707.  708.  709.  710.  711.  712.  713.  714.  715.  716.  717.
  718.  719.  720.  721.  722.  723.  724.  725.  726.  727.  728.  729.
  730.  731.  732.  733.  734.  735.  736.  737.  738.  739.  740.  741.
  742.  743.  744.  745.  746.  747.  748.  749.  750.  751.  752.  753.
  754.  755.  756.  757.  758.  759.  760.  761.  762.  763.  764.  765.
  766.  767.  768.  769.  770.  771.  772.  773.  774.  775.  776.  777.
  778.  779.  780.  781.  782.  783.  784.  785.  786.  787.  788.  789.
  790.  791.  792.  793.  794.  795.  796.  797.  798.  799.  800.  801.
  802.  803.  804.  805.  806.  807.  808.  809.  810.  811.  812.  813.
  814.  815.  816.  817.  818.  819.  820.  821.  822.  823.  824.  825.
  826.  827.  828.  829.  830.  831.  832.  833.  834.  835.  836.  837.
  838.  839.  840.  841.  842.  843.  844.  845.  846.  847.  848.  849.
  850.  851.  852.  853.  854.  855.  856.  857.  858.  859.  860.  861.
  862.  863.  864.  865.  866.  867.  868.  869.  870.  871.  872.  873.
  874.  875.  876.  877.  878.  879.  880.  881.  882.  883.  884.  885.
  886.  887.  888.  889.  890.  891.  892.  893.  894.  895.  896.  897.
  898.  899.  900.  901.  902.  903.  904.  905.  906.  907.  908.  909.
  910.  911.  912.  913.  914.  915.  916.  917.  918.  919.  920.  921.
  922.  923.  924.  925.  926.  927.  928.  929.  930.  931.  932.  933.
  934.  935.  936.  937.  938.  939.  940.  941.  942.  943.  944.  945.
  946.  947.  948.  949.  950.  951.  952.  953.  954.  955.  956.  957.
  958.  959.  960.  961.  962.  963.  964.  965.  966.  967.  968.  969.
  970.  971.  972.  973.  974.  975.  976.  977.  978.  979.  980.  981.
  982.  983.  984.  985.  986.  987.  988.  989.  990.  991.  992.  993.
  994.  995.  996.  997.  998.  999. 1000.]

### 2. Create an array y that is the base 10 logarithm of x. 
- Print y. 
- Print the 10th to 24th elements of x and y. 
- Create an array z that is the same as y. 
- Change the 30th to 140th elements of z to be the 1/10 of their current value and the 500th to 600th elements of z to be 10 times larger than their current value. 
- Print z from the 600th element to the 100th element going backwards with a step of 50 (so the 600th, 550th, 500th etc element).

In [20]:
y = np.log10(x)

In [21]:
print (x [9:24])
print (y [9:24])

[1.9 2.  2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9 3.  3.1 3.2 3.3]
[0.2787536  0.30103    0.32221929 0.34242268 0.36172784 0.38021124
 0.39794001 0.41497335 0.43136376 0.44715803 0.462398   0.47712125
 0.49136169 0.50514998 0.51851394]

In [24]:
z = np.arange (1, 1000, .1)

In [26]:
z=y

In [27]:
len(z)

991

In [28]:
z[29:140] = 0.1 *z[29:140]

In [29]:
z[499:601] = 10* z[499:601]

In [30]:
print(z[600:100:-50])

[17.85329835 17.48188027 17.07570176  1.66275783  1.61278386  1.5563025
  1.49136169  1.41497335  1.32221929  1.20411998]

### 3. Create array base1 that goes from 100 to 600 with a step of 2. 
- Create array base2 that goes from 75.5 to 0.5 with a step of -0.3. 

- Assuming that base1 is the one side of a (orthogonal parallelogram) field and base2 the other side, calculate the surface area of all fields (field_surface). 
- How many fields are there in your sample? 
- How many unique surface areas are there in your sample?

In [33]:
base1 = np.arange (100, 600, 2)
base2 = np.arange (75.5, 0.5, -0.3)

In [34]:
print(len (base1), len(base2))

250 250

In [35]:
field_surface = base1 * base2

In [36]:
print (len (field_surface))

250

In [37]:
print(np.unique(field_surface))

[  478.4   655.6   831.6  1006.4  1180.   1352.4  1523.6  1693.6  1862.4
  2030.   2196.4  2361.6  2525.6  2688.4  2850.   3010.4  3169.6  3327.6
  3484.4  3640.   3794.4  3947.6  4099.6  4250.4  4400.   4548.4  4695.6
  4841.6  4986.4  5130.   5272.4  5413.6  5553.6  5692.4  5830.   5966.4
  6101.6  6235.6  6368.4  6500.   6630.4  6759.6  6887.6  7014.4  7140.
  7264.4  7387.6  7509.6  7550.   7630.4  7670.4  7750.   7789.6  7868.4
  7907.6  7985.6  8024.4  8101.6  8140.   8216.4  8254.4  8330.   8367.6
  8442.4  8479.6  8553.6  8590.4  8663.6  8700.   8772.4  8808.4  8880.
  8915.6  8986.4  9021.6  9091.6  9126.4  9195.6  9230.   9298.4  9332.4
  9400.   9433.6  9500.4  9533.6  9599.6  9632.4  9697.6  9730.   9794.4
  9826.4  9890.   9921.6  9984.4 10015.6 10077.6 10108.4 10169.6 10200.
 10260.4 10290.4 10350.  10379.6 10438.4 10467.6 10525.6 10554.4 10611.6
 10640.  10696.4 10724.4 10780.  10807.6 10862.4 10889.6 10943.6 10970.4
 11023.6 11050.  11102.4 11128.4 11180.  11205.6 11256.4 11281.6 11331.6
 11356.4 11405.6 11430.  11478.4 11502.4 11550.  11573.6 11620.4 11643.6
 11689.6 11712.4 11757.6 11780.  11824.4 11846.4 11890.  11911.6 11954.4
 11975.6 12017.6 12038.4 12079.6 12100.  12140.4 12160.4 12200.  12219.6
 12258.4 12277.6 12315.6 12334.4 12371.6 12390.  12426.4 12444.4 12480.
 12497.6 12532.4 12549.6 12583.6 12600.4 12633.6 12650.  12682.4 12698.4
 12730.  12745.6 12776.4 12791.6 12821.6 12836.4 12865.6 12880.  12908.4
 12922.4 12950.  12963.6 12990.4 13003.6 13029.6 13042.4 13067.6 13080.
 13104.4 13116.4 13140.  13151.6 13174.4 13185.6 13207.6 13218.4 13239.6
 13250.  13270.4 13280.4 13300.  13309.6 13328.4 13337.6 13355.6 13364.4
 13381.6 13390.  13406.4 13414.4 13430.  13437.6 13452.4 13459.6 13473.6
 13480.4 13493.6 13500.  13512.4 13518.4 13530.  13535.6 13546.4 13551.6
 13561.6 13566.4 13575.6 13580.  13588.4 13592.4 13600.  13603.6 13610.4
 13613.6 13619.6 13622.4 13627.6 13630.  13634.4 13636.4 13640.  13641.6
 13644.4 13645.6 13647.6 13648.4 13649.6 13650.  13650.4]

### One of the great features of numpy is that it also allows you to read data in an array in a single command. You do that with np.loadtxt( "name_of_file" ) [see also: https://numpy.org/doc/stable/reference/generated/numpy.loadtxt.html ] or np.genfromtxt("name_of_file") [see also: https://numpy.org/doc/stable/reference/generated/numpy.genfromtxt.html ]. 

### E.g., get file *my_first_data.dat* from the Webcouses/demos/ . Open it with a text editor to see what it looks like. 
- Read it in an array *all_input_data* with loadtxt or genfromtxt. 
- Check what your array looks like (print it). 
- Print all times each car traveled. 
- Print all distances the cars traveled. 
- Calculate the distance each car traveled **in a single line** and asign it to array *distances_traveled*. 
- Print *distances_traveled*

In [39]:
all_input_data = np.loadtxt('my_first_data.dat')

In [ ]:
# Car_number  Time [hr]  Speed [mph]

In [40]:
print(all_input_data)

[[  1.    5.2 120.2]
 [  2.    3.1 110. ]
 [  3.    2.4 100.5]
 [  4.    5.1  65.3]
 [  5.    2.4 119.6]]

In [41]:
print(all_input_data [:, 1])

[5.2 3.1 2.4 5.1 2.4]

In [43]:
distance_traveled = (all_input_data [:, 1] * all_input_data [:, 2])

In [44]:
print (distance_traveled)

[625.04 341.   241.2  333.03 287.04]

### Now let's try the genfromtxt with data: *test_genfromtxt.dat*. 
- Read data into variable student_data. 
- Print the IDs of the students. 
- Print the average quiz  grade for student 202204. 
- Print the average quiz grade and the IDs of all students that passed the class with a C- or better ( average total of more than 7.0).

In [47]:
student_data = np.genfromtxt ('test_genfromtxt.dat')

In [48]:
print (student_data)

[[2.02201e+05 8.10000e+00 8.40000e+00 8.20000e+00]
 [2.02202e+05 7.50000e+00 7.00000e+00 7.30000e+00]
 [2.02203e+05 7.90000e+00 8.50000e+00 8.40000e+00]
 [2.02204e+05 9.50000e+00 9.70000e+00 9.70000e+00]
 [2.02205e+05 5.30000e+00 6.00000e+00 5.90000e+00]
 [2.02206e+05 5.10000e+00 7.10000e+00 6.80000e+00]]

In [ ]:
#Student ID  Average-Grade-Quiz  Average-Grade-Exam    Average-Total

In [49]:
IDs = student_data[:,0]
print (IDs)

[202201. 202202. 202203. 202204. 202205. 202206.]

In [50]:
print (student_data[3,1])

9.5

In [51]:
student_data[:,3]>7

array([ True,  True,  True,  True, False, False])

In [52]:
np.where(student_data[:,3]>7)

(array([0, 1, 2, 3], dtype=int64),)

In [53]:
print( student_data [np.where (student_data[:,3]>7),1])

[[8.1 7.5 7.9 9.5]]

In [54]:
print( student_data [np.where (student_data[:,3]>7),0])

[[202201. 202202. 202203. 202204.]]

### 4. You just opened a new savings account that earns N percent interest per year. The interest that you earn is paid at the end of the year, and is added to the balance of the savings account. Write a *function end_of_year_interest* that takes as input the interest N and a single list *deposits_list* that containts the amount of money deposited into the account from the user at the start of years 1, 2 and 3 (assume this is the only deposit to the account). The function should then calculate the amount in the savings account at the end of years 1, 2 and 3 and print it out. Call the function for an interest rate of 2% and deposits of 100, 300 and 500. 

- Discuss: what should the input and output of your function be?
- What does a good docstring need to include?
- How do we code this up?
- Code!

In [ ]:
def enf_of_year_intrest(N, deposits_list):
    """Intrest is interger (ex: 2% is 2)"""
    
    year1_intrest = deposits_list[0]*N/100
    year1_end = year1_intrest + deposits_list[0]
    
    print('end of year 1 i have', year1_end, '$')

### 5. Create a program that calculates how fast an object moves [ m/s ] when falling to the ground from a height h. Assume that the body free falls with initial speed 0 m/s, so that u$_{final}$ = $\sqrt(2 * g * h)$, where g = 9.8 $m/s^2$ and h is in m. 
### Assume that we have a range of object that fall and the recorded height from which they start are stored in a numpy array  ***heights***. Make array ***heights*** from 3 m to 100m with a step of 2.5 (average height of a floor). 

- How will you calculate the final speed of the bodies falling from the different heights?

- Create a variable u_final that calculates the final speed of the falling object from **all** heights in **one** line. 
- Print it

### 6. Create a list *test_list_1* that contains the numbers 1, 2, 5, 7, 22, 34, 42. 
- Print it. 
- Change 22 to -10 (don't just copy-paste and change it in the series, access the appropriate element of test_list_1 and change it). 
- Print the mutated list. 
- Add elements 96 and 102 to the end of the list. 
- Add 0 to the start.

### 7. Create a tuple *trip_time* that contains the amount of hours a trip takes. Create a tuple *trip_distance* that contains the distance of a given trip in km. <br> Populate *trip_time* with numbers: 1.5, 3.2, 5.6, 14.3, 26.4 and *trip_distance* with 180, 320, 728, 1573, 3326. Calculate the average speed (remember it is distance/time) of each trip. 
- Can you use plain division of the tuples in a single line to do it? Why/why not?  
- After each calculation store the average speed in a tuple called *trip_average_speed* ("append" each calculation to the previous tuple). Is the tuple you have at the end, the same as at the start? Why/why not? 
- You just realized you made a typo, and the 728 should have been 718! Change the tuple accordingly (and properly) and recalculate and print the new *trip_average_speed* tuple. 


### Make numpy arrays  *np_trip_time* and *np_trip_distance* from the original *trip_time* and *trip_distance*. Calculate the average speed of each trip using the numpy arrays and store it in array *np_trip_average_speed*. What is the benefit in comparison to tuples (or lists?)
- You just realized you made the same typo, and the 728 should have been 718! How do you change the array now?

In [ ]:
### also, yes, you can kind of do it in a single line but not in a way we have seen yet, e.g.:
#from operator import truediv 
#trip_average_test_one_line = tuple( map( truediv, trip_distance , trip_time ) )  
#print( trip_average_test_one_line )

In [ ]:
# now let's change the element; remember tuples are immutable!
#inital was trip_distance = ( 180, 320, 728, 1573, 3326 ) --> need to change trip_distance[ 2 ]

### 8. Open a text editor and save it as *all_my_functions.py*. Copy in there the function *acceleration* from your HW and from this and previous practicums the functions *end_of_year_interest* and *thunderstruck*. Change the names of the functions by adding a *_fromfile* at the end of each. <br> In a single command import *acceleration_fromfile* and *end_of_year_interest_fromfile* and *thunderstruck_fromfile*. Call the latter for the case you hear a thunder 10s after you see the lightning. 

#### Note that if you are using numpy in these functions you will need to start your all_my_functions.py with importing numpy as np.

### 9. The Body Mass Index is one of the available measures of how healthy a person is. It is defined as the ratio of a person's weight in kg, over the square of their height in m. Make a function BMI that uses the height and weight of a person and returns their BMI. 

### Make a list heights that contains the heights of people, and a list weights that containts their weights. Populate them with heights: 1.60, 2.10 and 1.80 and weights 60, 120 and 81.

### Call the function BMI for all three people and print their BMI.

###  10. Create a list student_h that contains lists with the heights of students in feet and inches. A person being 5' 6" would be noted as [5, 6], a person being 5' 10" would be noted as [5, 10]. Populate it with the heights of five students who are : 5’ 1”, 4’ 10”, 6’ 02”, 5’ 07”, and 6’ 11”. Create a function ft_to_m_cm that takes as input a value from student_h and returns each height in a new list [m, cm] (round cm up). Call the function for all values of student_h and print the results with an informative sentence (e.g., Student 1 has a height of 1 m 10 cm )  (Remember that 1 ft ~= 0.3048 m and 1 inch ~= 0.0254 m and 1m has 100cm). 

- Discuss: what should the function's input be? 
- What should its output be?
- What does the function need to calculate? How will it do that?
- Code it up!

In [ ]:
#make student_h list:

In [ ]:
#make your function:

In [ ]:
#calculate the heights in m and cm and print with informative statement: